

    @media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column; /* Hace el menú vertical */
        align-items: center; /* Centra los elementos */
        padding: 10px 0;
    }

    nav ul li {
        width: 100%; /* Cada elemento ocupa todo el ancho */
        border-right: none; /* Elimina las líneas verticales */
        border-bottom: 1px solid #ddd; /* Agrega separación entre los elementos */
    }

    nav ul li:last-child {
        border-bottom: none;
    }

    nav ul li a {
        height: 45px; /* Ajusta la altura de los enlaces */
        width: 100%; /* Ocupa todo el ancho disponible */
        text-align: center;
        border-bottom: 3px solid #909090;
    }
    .footer-content {
        flex-direction: column; /* Hace que los elementos se apilen verticalmente */
        align-items: center; /* Centra los elementos */
        text-align: center;
        padding: 20px;
    }

    .footer-content .logo {
        margin-bottom: 10px; /* Espaciado entre logo y redes sociales */
    }

    .footer-content .social {
        flex-direction: column; /* Alinea los iconos en columna */
        gap: 10px; /* Espaciado entre los iconos */
    }
    }
    
    
